<!DOCTYPE html>
<html>
  <head>
    <title>ArticlePic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  </head>

  <body>
    <%= yield %>

    <% begin %>
      <%= javascript_pack_tag params[:controller] %>
      <%= stylesheet_pack_tag params[:controller] %>
    <% rescue Webpacker::Manifest::MissingEntryError %>
      <% # Required for files that don't exist %>
    <% end %>
  </body>
</html>
